:root {
    --primaryColour: coral;
    --secondaryColour: darkslategray;
    --darkText: black;
    --lightText: white;
}

* {
    margin: 0;
    padding: 0;
    justify-content: center;
}

body {
    font-size: 1.5rem;
    /* background-color:darkolivegreen; */
}

@media (max-width: 600px) {
    body {
        font-size: 1rem;
    }
}

a {
    text-decoration: none;
    color: var(--darkText);
}

#main-doc {
    text-align: center;
}

/* navbar section */
#navbar-container {
    list-style: none;
    display: flex; /* default flex-directions = rows */
    gap: 2rem;
    margin-right: 2.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    justify-items: center;
    text-decoration: none; /* removes underline from header items*/
}

#navbar-container > li {
    padding: 15px;
}

#navbar-container > li:hover {
    text-decoration: none;
    font-size: 1.2em;
}

#navbar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: flex-end;
    background-color: var(--primaryColour);
    height: 4rem;
}

/* section 1: Greetings / Welcome section */
#welcome-section {
    margin-bottom: 1rem;
    height: 100vh;
    overflow: auto;
}

#welcome-section img { /* profile image*/
    border-radius: 50%;
    margin-top: 7rem;
}

/* section 2: About Me */


/* section 3: Skills */


/* Section 4: Project Portfolios */
.project-head {
    background-color: var(--primaryColour);
    width: 100%;
}

.project-title {
    padding-bottom: .5em;
}

#projects {
    display: flex;
    flex-direction: column;
}

.project-grid img {
    width: 100%;
}

.project-grid a {
    color: white;
    background-color: var(--secondaryColour);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* use flex flow to manage grid directions */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2em;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 3rem;
    /* background-color: aqua; */

}

/* section 5: Certificates */



/* section 6: Experiences */


/* section 7: Contact */
#contact {
    height: 20rem;
}

#contact h2 {
    padding: .5em;
}
#contact p {
    margin: 1.5em;
}

#contact a{
    margin: 1em;
}


/* section 8: footer */
footer {
    display: flex;
    height: 4rem;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryColour);

}

/* responsive design for smaller screens */
