:root {
    --primaryColour: coral;
    --secondaryColour: darkslategray;
    --darkText: black;
    --lightText: white;
    --paddingHorizontal: 15rem;
}

* {
    margin: 0;
    padding: 0;
    justify-content: center;
}

body {
    font-size: 1.5rem;
    /* background-color:darkolivegreen; */
}

@media (max-width: 600px) {
    body {
        font-size: 1rem;
    }
}

a {
    text-decoration: none;
    color: var(--darkText);
}

#main-doc {
    text-align: center;
}

/* navbar section */
#navbar-container {
    list-style: none;
    display: flex; /* default flex-directions = rows */
    gap: 2rem;
    margin-right: 2.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    justify-items: center;
    text-decoration: none; /* removes underline from header items*/
}

#navbar-container > li {
    padding: 15px;
}

#navbar-container > li:hover {
    text-decoration: none;
    font-size: 1.2em;
}

#navbar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: flex-end;
    background-color: var(--primaryColour);
    height: 4rem;
}

/* to standardise spaces between sections */
.sections {
    margin: 3rem 0;
}

.section-head {
    margin: 0.2em 0;
    font-weight: bold;
    background-color: var(--primaryColour);
}

/* section 1: Greetings / Welcome section */
#welcome-section {
    margin-bottom: 5rem;
    overflow: auto;
}

#welcome-section img { /* profile image*/
    border-radius: 50%;
    margin-top: 9rem;
}

/* section 2: About Me */
#about-content > p {
    /* text-align: justify; */
    padding: 0 var(--paddingHorizontal);
}

#about-content > ul {
    list-style-position: inside;
    padding-left: var(--paddingHorizontal);
}

#about-content > ul > li {
    text-align: left;
}

/* section 3: Skills */
#skills-content {
    display: flex;
    flex-flow: row wrap;
    padding: 0 var(--paddingHorizontal);
}

#skills-content > a {
    padding: .5em 1.5em;
}

/* Section 4: Project Portfolios */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2em;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 3rem;
    background-color: aqua;
}

.project-grid a {
    color: white;
    background-color: var(--secondaryColour);
    border-radius: 15px;
    
}

/* section 5: Certificates */
.certificates-grid {
    background-color: blueviolet;
    display: flex;
    flex-flow: row wrap;
}

.certificates-grid > a {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 300px;
    /* font-size: 16px; */
    margin: 0 1em;
    background-color: aqua;
    border-radius: 15px;
}

#cert-top {
    background-color: crimson;
    margin: 0 0;
}

#cert-bot {
    background-color: blue;
}

/* section 6: Experiences */


/* section 7: Contact */
#contact {
    height: 20rem;
}

#contact h2 {
    padding: .5em;
}
#contact p {
    margin: 1.5em;
}

#contact a{
    margin: 1em;
}


/* section 8: footer */
footer {
    display: flex;
    height: 4rem;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryColour);

}

/* responsive design for smaller screens */
